@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body{
	font-family: 'Oxygen', sans-serif;
	font-size: 400;
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

/*Comienza HEADER*/
.navbar ul{
    display: flex;

}
#navbarSupportedContent{
	position: absolute;
	right: 0px;
	bottom: 5px;
}
a{
	list-style: none;
    text-decoration: none;
	color: darkorange;
}
.nav-item a{
	font-size: 20px;
	position: relative;
    letter-spacing: 0.5px;
    color: white;
}

.nav-item a:after{
    content: "";
    background-color: white;
    position: absolute;
    height: 1.5px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}
.nav-item a:hover{
    color: white;
}
.nav-item a:hover:after{
    width: 50%;
}
/*Finaliza HEADER*/

/*Comienza pagina HOME*/
.animacion-hover:hover{
	transform: translateY(-10px);
	box-shadow: 0px 0px 25px #666;
	cursor: pointer;
}
.mySlide .carousel-item{
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.mySlide .carousel-item:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.mySlide .carousel-item .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.mySlide .carousel-item h2{
    font-size: 80px;
    color: #ffffff;
    margin: 0 0 10px;
    opacity: 0;
}
.mySlide .carousel-item  p{
    font-size: 30px;
    margin: 0;
    color: #eeeeee;
    opacity: 0;
}
.mySlide .carousel-item.active h2{
    animation: fadeInLeft 0.5s ease forwards;
}
.mySlide .carousel-item.active p{
    animation: fadeInRight 0.5s ease forwards;
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(30px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.mySlide .carousel-control-next,.mySlide .carousel-control-prev{
    height: 60px;
    width: 60px;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.mySlide .carousel-control-next{
    right: 120px;
}
.mySlide .carousel-control-prev{
    left: 120px;
}
.titulosHome{
	display: flex;
	z-index: 2;
	margin-left: 5px;
	font-size: 3rem;
}
.destinosHome{
	background-color: #fafafa;
}
#footer{
	padding: 1em 0;
	width: 100%;
	height: 150px;
	margin-top: auto;
}
/*Finaliza pagina HOME*/


/*Comienza pagina DESTINOS*/
.tituloDestino{
	font-size: 70px;
}
.bg-gris{
	background-color: rgba(215, 213, 214, 0.63);
}
/*Finaliza pagina DESTINOS*/


/*Comienza pagina EXCURSIONES*/
#videoExcursion{
	background: rgb(223,174,238);
    background: radial-gradient(circle, rgba(223,174,238,0.9248074229691877) 0%, rgba(148,233,206,1) 100%);
	width: 100%;
	height: 900px;
	color: white;
}
.imgExcursion1 {
	justify-content: start;
}
.imgExcursion2 {
	justify-content: end;
}
.descripcionExc{
	width: 20%;
}
.tituloExcursion{
	font-size: 70px;
}
/*Finaliza pagina EXCURSIONES*/


/*Comienza pagina PROMOCIONES*/
.bg-celeste{
	background-color: rgba(63, 146, 255, 0.27);
}
/*Finaliza pagina PROMOCIONES*/


/*MEDIA QUERIE PANTALLA MD*/
@media all and (max-width: 768px){
	.mySlide .carousel-control-next,.mySlide .carousel-control-prev{
		height: 30px!important;
		width: 30px!important;
		border-radius: 30%;
	}
    .mySlide .carousel-item h2{
        font-size: 30px!important;
    }
    .mySlide .carousel-item p{
        font-size: 15px;
    }
	.mySlide .carousel-control-next{
		right: 10px!important;
	}
	.mySlide .carousel-control-prev{
		left: 10px!important;
	}
	.titulosHome{
		font-size: 2rem;
	}
}

/*MEDIA QUERIE PANTALLA LG*/

@media all and (max-width: 992px){
	.mySlide .carousel-control-next,.mySlide .carousel-control-prev{
		height: 40px;
		width: 40px;
		border-radius: 30%;
	}
	.mySlide .carousel-item h2{
		font-size: 40px;
	}
	.mySlide .carousel-item p{
		font-size: 19px;
	}
	.mySlide .carousel-control-next{
		right: 20px;
	}
	.mySlide .carousel-control-prev{
		left: 20px;
	}
	.titulosHome{
		font-size: 2rem;
	}
}

/*MEDIA QUERIE PANTALLA XL*/

@media all and (max-width: 1200px){
	.mySlide .carousel-control-next,.mySlide .carousel-control-prev{
		height: 50px;
		width: 50px;
		border-radius: 40%;
	}
	.mySlide .carousel-item h2{
		font-size: 50px;
	}
	.mySlide .carousel-item p{
		font-size: 19px;
	}
	.mySlide .carousel-control-next{
		right: 20px;
	}
	.mySlide .carousel-control-prev{
		left: 20px;
	}
}