@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body{
	font-family: 'Oxygen', sans-serif;
	font-size: 400;
	height: 100%;
    width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;
}

/*Comienza HEADER*/

.navbar ul{
    display: flex;

}
#navbarSupportedContent{
	position: absolute;
	right: 0px;
	bottom: 5px;
}
a{
	list-style: none;
    text-decoration: none;
	color: darkorange;
}
.nav-item a{
	font-size: 20px;
	position: relative;
    letter-spacing: 0.5px;
    color: white;
}

.nav-item a:after{
    content: "";
    background-color: white;
    position: absolute;
    height: 1.5px;
    width: 0%;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}
.nav-itema:hover{
    color: white;
}
.nav-item a:hover:after{
    width: 50%;
}

/*Finaliza HEADER*/

/*Comienza pagina HOME*/

.animacion-hover:hover{
	transform: translateY(-10px);
	box-shadow: 0px 0px 25px #666;
	cursor: pointer;
}
.carousel-item{
	width: 100%;
	height: 500px;
}

/*#carrusel{
	background: rgb(177,174,238);
    background: linear-gradient(90deg, rgba(177,174,238,0.9248074229691877) 45%, rgba(175,220,244,0.927608543417367) 88%);
	width: 100%;
	height: 700px;
	border: solid 3px rgb(215, 208, 208);
    border-radius: 25px;
}*/

#carrusel .texto{
	z-index: 2;
}
.titulosHome{
	margin-left: 5px;
	font-size: 3rem;
}
.destinosHome{
	background-color: #fafafa;
}
#footer{
	padding: 1em 0;
	width: 100%;
	height: 150px;
	margin-top: auto;

}

/*Finaliza pagina HOME*/

/*Comienza pagina DESTINOS*/

/*#carrusel2{
	background: rgb(2,0,36);
    background: linear-gradient(225deg, rgba(2,0,36,1) 0%, rgba(32,210,188,0.6530987394957983) 54%, rgba(0,212,255,1) 100%);
	width: 100%;
	height: 900px;
	color: white;
}
#carrusel2 .texto{
	z-index: 2;
}*/
.bg-gris{
	background-color: rgba(215, 213, 214, 0.63);
}
/*Finaliza pagina DESTINOS*/

/*Comienza pagina EXCURSIONES*/

#videoExcursion{
	background: rgb(223,174,238);
    background: radial-gradient(circle, rgba(223,174,238,0.9248074229691877) 0%, rgba(148,233,206,1) 100%);
	width: 100%;
	height: 900px;
	color: white;
}
#videoExcursion .texto{
	z-index: 2;
}
/*Finaliza pagina EXCURSIONES*/

/*Comienza pagina PROMOCIONES*/

.bg-celeste{
	background-color: rgba(63, 146, 255, 0.27);
}

/*Finaliza pagina PROMOCIONES*/

/*MEDIA QUERIE PANTALLA SM*/

@media all and (max-width: 768px){
	.titulosHome{
		font-size: 2rem;
}
	.fila-excursion{
		width: 100% !important;
		text-align: center;
	}
	.wrap-element{
		flex-wrap: wrap;
		justify-content: center !important;
	}
}